
.fio {
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}
 input {
    background: snow;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 2px;
    margin-top: 2px;
}
select {
     background: snow;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 2px;
    margin-top: 2px;
}
/*body{background-color: orange;}*/
/*#body{background: black;
    background-color: orange;
    border-right-style: dotted;
    border-left-style: dotted;
    border-bottom-style: dotted;
    border-top-style: dotted;
}*/