
.fio {
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}
 input {
    
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 2px;
    margin-top: 2px;
}
select {
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 2px;
    margin-top: 2px;
}
